body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central{
    margin-bottom: 5vh;
    border: solid 1px;
    padding: 10vh 10vw;
    
}
table{
    margin: 0;
}
td{
    padding: 5vh 5vw;
    border: solid 2px red;
    margin: 0;
}
